# ============================================
# Ambiente Virtual
# ============================================
.venv/
venv/

# ============================================
# Python
# ============================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================================
# Variáveis de Ambiente
# ============================================
.env

# ============================================
# VS Code
# ============================================
.vscode/

# ============================================
# Arquivos de Sistema
# ============================================
.DS_Store
Thumbs.db

# ============================================
# Logs
# ============================================
*.log

# ============================================
# Cache de Testes
# ============================================
.pytest_cache/
.mypy_cache/

# ============================================
# Arquivos Temporários
# ============================================
temp/
tmp/

# ============================================
# Jupyter Notebook
# ============================================
.ipynb_checkpoints/

# ============================================
# Dados (caso sejam grandes ou sensíveis)
# ============================================
data/raw/

# ============================================
# Arquivos temporários do Excel
# ============================================
~$*.xlsx


/base/

/resultados/